.Recipes{
    display: flex;
    position: relative;
    left: 0;
    margin-left: 0;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe_wrapper{
    width: 100%;
}
