.Posts{
    width:100%;
    position: relative;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    padding: 20px;
}

.post_card{
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

p .post_content_wrapper{
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
}
.post_img{
    max-width: 300px;
    height: 250px;
    margin: auto;
}

.post_wrapper{
    margin-bottom: 50px;
    margin-top: 20px;
}