.recipes_wrapper{
    display: flex;
    align-items: flex-start;
    width: 90%;
    padding: 2%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}
.dishcard_wrapper{
    width: 40%;
    margin-bottom: 3%;
}

.dishcard_wrapper img{
    height: 350px;
}
